.card{
    background-color: rgb(51, 51, 51);
    color: white;
    width: 500px;
    height: 180px;
    display: grid;
}

h1{
    padding-top: 10px;
    text-align: left;
    box-sizing: content-box;
    width: 200px;
    margin: auto;
}
p{

    text-align: center;
    margin: auto;
}

#contacto{
    margin: 15px 0px 5px 0px;
    border-top: solid rgb(102, 102, 102) 4px;
    padding-top: 10px;
}


